header {
  background-color: $cor-primaria;

  nav {
    @include flex(space-between);
    gap: 10px 50px;

    a {
      color: white;
    }

    .cta-button {
      @include button();
    }
  }
}

@media (max-width: 490px) {
  header {
    nav {
      gap: 10px 50px;

      .cta-button {
        font-size: 0.75rem;
      }
    }
  }
}

@media (max-width: 320px) {
  header {
    nav {
      @include flex(center);
    }
  }
}
