.perguntasFrequentes {
  text-align: center;

  details {
    border: 2px solid $cor-primaria;
    border-radius: 5px;
    padding: 15px;
    max-width: 600px;
    margin: 0 auto 15px auto;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;

    p {
      text-align: left;
      margin-top: 15px;
      font-weight: normal;
    }
  }
}
